//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Main page'
  - var promoDelay = 300
  - var promoDuration = 300

block content
  // start promo
  section.promo
    nav.frontpage-nav
      ul.reset-list
        li: a.active(href="#promo" role="button" data-anchor): span
        li: a(href="#about-us" role="button" data-anchor): span
        li: a(href="#news-offers" role="button" data-anchor): span
        li: a(href="#footer" role="button" data-anchor): span
    .promo-backgrounds.js-promo-backgrounds
      .promo-background.js-promo-background(style="background: url(../images/promo-bg2.jpg) no-repeat center / cover")
      .promo-background.js-promo-background(style="background: url(../images/promo-bg2.jpg) no-repeat center / cover")
      .promo-background.js-promo-background(style="background: url(../images/promo-bg3.jpg) no-repeat center / cover")
      .promo-background.js-promo-background(style="background: url(../images/promo-bg4.jpg) no-repeat center / cover")
      .promo-background.js-promo-background(style="background: url(../images/promo-bg5.jpg) no-repeat center / cover")
      .promo-background.js-promo-background(style="background: url(../images/promo-bg6.jpg) no-repeat center / cover")
    .container
      h1.promo-heading
        span.promo-heading-top(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="700") холдинг «Sezar Group» —
        span.promo-heading-bottom(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="700" data-aos-delay="400") застройщик с безупречной репутацией
      .promo-items
        .promo-cell
          a.promo-item(href="#")
            .icon-wrap(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="500" data-aos-delay="600")
              img(src="images/property-ic1.png" alt="«Николин парк»")
            h4.heading(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="900") «Николин парк»
            p.caption(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1000") Жилая недвижимость
            p.desc Москва, Новомосковский АО, Сосенское С/П вблизи деревни Николо-Хованское
        .promo-cell
          a.promo-item(href="#")
            .icon-wrap(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="500" data-aos-delay="1300")
              img(src="images/property-ic2.png" alt="«Рассказово»")
            h4.heading(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1700") «Рассказово»
            p.caption(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1800") Жилая недвижимость
            p.desc Москва, Новомосковский АО, Сосенское С/П вблизи деревни Николо-Хованское
        .promo-cell
          a.promo-item(href="#")
            .icon-wrap(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="500" data-aos-delay="600")
              img(src="images/property-ic3.png" alt="«Дитнастия»")
            h4.heading(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="900") «Дитнастия»
            p.caption(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1000") Жилая недвижимость
            p.desc Москва, Новомосковский АО, Сосенское С/П вблизи деревни Николо-Хованское
        .promo-cell
          a.promo-item(href="#")
            .icon-wrap(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="500" data-aos-delay="1300")
              img(src="images/property-ic4.png" alt="ТРЦ «МариЭль»")
            h4.heading(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1700") ТРЦ «МариЭль»
            p.caption(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1800") Коммерческая недвижимость
            p.desc Москва, Новомосковский АО, Сосенское С/П вблизи деревни Николо-Хованское
        .promo-cell
          a.promo-item(href="#")
            .icon-wrap(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="500" data-aos-delay="600")
              img(src="images/property-ic5.png" alt="«Парадайz»")
            h4.heading(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="900") «Парадайz»
            p.caption(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1000") Коммерческая недвижимость
            p.desc Москва, Новомосковский АО, Сосенское С/П вблизи деревни Николо-Хованское
        .promo-cell
          a.promo-item(href="#")
            .icon-wrap(data-aos="fade-up" data-aos-anchor=".promo" data-aos-duration="500" data-aos-delay="1300")
              img(src="images/property-ic6.png" alt="БЦ «Фортуна»")
            h4.heading(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1700") БЦ «Фортуна»
            p.caption(data-aos="fade-up" data-aos-anchor=".promo" data-aos-delay="1800") Коммерческая недвижимость
            p.desc Москва, Новомосковский АО, Сосенское С/П вблизи деревни Николо-Хованское
    .mouse
  // end promo
  // start about-us
  section.about-us#about-us
    .container
      .circles-container
        .circles
          a.circle-item(style="bottom: 40px; left: 80px" data-aos="fade-in" data-aos-anchor=".circles-container" data-aos-delay="2000" data-aos-duration="1000")
            .date 2012
            .circle-content
              include data/cup.svg
              img(src="images/skype.png" alt="")
          a.circle-item.brown-secondary(style="top: 110px; right: 68px" data-aos="fade-in" data-aos-anchor=".circles-container" data-aos-delay="2000" data-aos-duration="1000")
           .circle-content
              include data/cup.svg
              img(src="images/skype.png" alt="")
              .date 2014
          a.circle-item.brown(style="top: 40px; right: 168px" data-aos="fade-in" data-aos-anchor=".circles-container" data-aos-delay="2000" data-aos-duration="1000")
            .circle-content
              include data/cup.svg
              img(src="images/skype.png" alt="")
            .date 2014
          a.circle-item(style="bottom: 53px; left: 148px" data-aos="fade-in" data-aos-anchor=".circles-container" data-aos-delay="2000" data-aos-duration="1000")
            .date 2014
            .circle-content
              include data/cup.svg
              img(src="images/skype.png" alt="")
          a.circle-item(style="bottom: 140px; left: 140px" data-aos="fade-in" data-aos-anchor=".circles-container" data-aos-delay="2000" data-aos-duration="1000")
            .date 2015
            .circle-content
              include data/cup.svg
              img(src="images/skype.png" alt="")
          .circle.circle-1(data-aos="zoom-in1" data-aos-anchor=".circles-container" data-aos-delay="900" data-aos-duration="1000")
          .circle.circle-2(data-aos="zoom-in1" data-aos-anchor=".circles-container" data-aos-delay="600" data-aos-duration="1000")
          .circle.circle-3(data-aos="zoom-in1" data-aos-anchor=".circles-container" data-aos-delay="300" data-aos-duration="1000")
        .about-us-logo
          .logo-circle(data-aos="zoom-in1" data-aos-anchor=".circles-container" data-aos-duration="1000")
            img(src="images/logo-fs.png" alt="Sezar Group")
          .logo-text
            span(data-aos="fade-left" data-aos-anchor=".circles-container" data-aos-delay="1400" data-aos-duration="1000") Sezar
            span(data-aos="fade-right" data-aos-anchor=".circles-container" data-aos-delay="1700" data-aos-duration="1000") Group
      .about-us-group-text
        .row
          .about-us-text(data-aos="fade-left" data-aos-anchor=".circles-container" data-aos-delay="1900" data-aos-duration="1000") Более 10 лет результативной работы принесли холдингу Sezar Group портфель знаковых объектов, безупречную репутацию, а также надежных партнеров
          .about-us-text(data-aos="fade-right" data-aos-anchor=".circles-container" data-aos-delay="2100" data-aos-duration="1000") Множество престижных наград, среди которых «Гарант качества и надежности» по итогам всероссийской премии «Национальная марка качества-2014»
      a.btn.btn-round(href="#" data-aos="fade-up" data-aos-anchor=".circles-container" data-aos-delay="2200" data-aos-duration="1000")
        span О компании
  // end about-us
  // start news-offers
  section.news-offers#news-offers
    a.news-offers-block.special-offer-block.w-50.h-100.overlay-black.color-white(
      href="#"
      data-aos="fade-right"
      data-aos-anchor=".news-offers"
      data-aos-duration="700")
      .background(style="background: url(images/news-offer1.jpg) no-repeat center / cover")
      .dates.dates-block-offer
        .date-block.date-block-offer
          div.from с
          div.digit 01
          div.month окт
        .separator
        .date-block.date-block-offer
          div.from по
          div.digit 25
          div.month окт
      .inner
        .news-offers-content
          span.type Акция
          span.text Выбирай себе соседей
    a.news-offers-block.w-50.h-50.second.overlay-gold.color-white(href="#"
      data-aos="fade-down"
      data-aos-anchor=".news-offers"
      data-aos-duration="700"
      data-aos-delay="400")
      .background(style="background: url(images/news-offer2.jpg) no-repeat center / cover")
      .dates
        .date-block
          div.digit 18
          div.month окт
      .inner
        .news-offers-content
          .news-offers-text ЖК «Рассказово» стал лауреатом премии RREF Awards 2016
          .news-offers-category Новости
    a.news-offers-block.w-25.h-50.no-bg.color-black(href="#"
      data-aos="fade-up"
      data-aos-anchor=".news-offers"
      data-aos-duration="700"
      data-aos-delay="800")
      .dates
        .date-block
          div.digit 18
          div.month окт
      .inner
        .news-offers-content
          .news-offers-text Ипотека в Банке Глобэкс теперь от 9,5%!
          .news-offers-category Новости
    a.news-offers-block.w-25.h-50.overlay-black.color-gold(href="#"
      data-aos="fade-left"
      data-aos-anchor=".news-offers"
      data-aos-duration="700"
      data-aos-delay="1200")
      .background(style="background: url(images/news-offer3.jpg) no-repeat center / cover")
      .dates
        .date-block
          div.digit 12
          div.month окт
      .inner
        .news-offers-content
          .news-offers-text В ЖК «Рассказово» проходят «Дни открытых дверей»
          .news-offers-category Новости
  // end news-offers

